.CartItemCard {
    display: flex;
    margin-left: 20px;
    padding: 1vmax;
    height: 10vmax;
    align-items: flex-start;
    box-sizing: border-box;
    font-size: 26px;
  }
  .CartItemCard > img {
    width: 10vmax;
  }
  .cartImage{
    width: 20vmax;
    height:10vmax;
    object-fit: contain;
    margin-right: 50px;
    margin-top: 0;

  }
  .CartItemCard > div {
    display: flex;
    margin: 0.3vmax 1vmax;
    flex-direction: column;
  }
  
  .CartItemCard > div > a {
    /* font: 400 0.9vmax cursive; */
    font-size: 20px;
    color: rgba(24, 24, 24, 0.815);
    text-decoration: none;
  }
  
  .CartItemCard > div > span {
    font-size: 16px;
    /* font: 400 0.9vmax "Urbanist"; */
    color: rgba(24, 24, 24, 0.815);
  }
  
  .CartItemCard > div > p {
    color: #3BB77E;
    font: 200 0.8vmax "Urbanist";
    color:black;
    cursor: pointer;
  }
  
  @media screen and (max-width: 600px) {
    .CartItemCard {
      padding: 3vmax;
      height: 25vmax;
    }
    .CartItemCard > img {
      width: 10vmax;
    }
  
    .CartItemCard > div {
      margin: 1vmax 2vmax;
    }
  
    .CartItemCard > div > a {
      font: 300 2vmax cursive;
    }
  
    .CartItemCard > div > span {
      font: 300 1.9vmax "Roboto";
    }
  
    .CartItemCard > div > p {
      font: 100 1.8vmax "Roboto";
    }
  }