.sidebar {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    font-family: "Urbanist";
    color: black;
  }
  
  .sidebar > a:first-child {
    padding: 20px;
    font-family: "Urbanist";
    color: black;
  }
  .sidebar > a > img {
    width: 30%;
    transition: all 0.5s;
    padding: 1vmax 0;
    font-family: "Urbanist";
    color: black;
  }

.sidebar a {
    text-decoration: none;
    color:black;
    font: 200 1rem "Urbanist";
    padding: 1.8rem 1.2rem;
    transition: all 0.5s;
  }  
  .sidebar a > P {
    display: flex;
    align-items: center;
    font-family: "Urbanist";
    color:black;
  }
  .sidebar a > p > svg {
    margin-right: 0.5rem;
    font-family: "Urbanist";
    color:black;
  }
  
  .MuiTypography-root {
    background-color: #fff !important;
    font-family: "Urbanist";
    color:black;
  }
  .MuiTypography-root.MuiTreeItem-label.MuiTypography-body1 {
    color: #999;
    font-family: "Urbanist";
    color:black;
}
/* .logo{
  width:10px;
  height:10px;
} */